* {
    margin: 0;
    padding: 0;
    font-family: "Opens Sans", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: url(img/whatever.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    border-radius: 5px;
    height: 45px;
      border: 1px solid black; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 15px 0 10px 0;
}

.checkout {
    padding: 0px, auto;
    width: 1000px;
    height: 600px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
}


/* SHIPPIN SECTION  */


.left-section {
    float: left;
    flex-direction: column;
    border: 1px solid black;
}

.shipping-form form {
    width: 710px;
    height: 450px;
}

.first_name--input, .email_input {
    float: left;
}

.last_name--input, .contact_input {
    float: right;
}
/* PAYMENT SECTION */

.left-section {
    float: left;
    width: 710px;
    height: 450px;
    flex-direction: column;
    border: 1px solid black;
}

.side-col {
    width: 280px;
    height: 600px;
    flex-direction: column;
    border: 1.5px solid green;
}

.price-sum {
    width: 280px;
    height: 250px;
    border: 1px solid orange;
}

.item-display {
    width: 280px;
    height: 300px;
    margin-top: 48px;
    border: 1px solid blue;
}

.payment {
    border: 1px solid lavender;
}